<%- include("Header") %>

<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Form Basic</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal" method="post" action="/createExtraSubProduct">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                  Sub Product Name
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    placeholder="First Name Here"
                    name="extraSubProducts"
                  />

                  <select name="productId" id="">
                    <% getProducts.map((item) => { %>
                      <option value="<%= item.id %>"><%= item.productName %></option>
                    <% }) %>
                  </select>

                  <select name="subProductid" id="">
                    <% getSubProducts.map((item) => { %>
                      <option value="<%= item.id %>"><%= item.subProduct %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("Footer") %>
